{% layout 'layout.liquid' %}
{% block content %}
<style>
    .container-login-signup {
        display:flex;
        flex-direction:column;
        align-content:center;
        justify-content:space-between;
        margin: var(--margin);
        align-items:center;
        color:white;
        
    }
    .meme-login-signup-submit-form {
        display:flex;
        flex-direction:column;
        width:400px;
        line-height:30px;
    }
    .meme-login-signup-submit {
        width:140px;
        height:35px;
        color: white;
        font-size:16px;
        background:transparent;
        box-shadow:.5px .5px .5px .5px white;
        border-radius:4px;
        margin-top:20px;
    
    }
    .meme-login-signup-submit:hover {
        color: rgb(0,0,0,.82);
        background:white;
        box-shadow:.5px .5px .5px .5px black;
        border:1px solid rgb(255, 255, 255, .4);
    }
</style>
<body class="body">
<div class="container-login-signup">
    <form class="meme-login-signup-submit-form" action="/auth/signup" method="POST">
            <legend class="message">Sign Up Here!</legend>
            <label class="form-label">Username: </label>
            <input class="meme-input" id="meme-input-login-signup" type="text" name="username" placeholder="username" class="form-control" required></br>
            <label class="form-label">Password:</label>
            <input class="meme-input" id="meme-input-login-signup" type="password" name="password" placeholder="enter password" class="form-control" required>
        <input class="meme-login-signup-submit" type="submit" value="Create Account" class="btn btn-success">
    </form>
</div>
</body>
{% endblock %}