{% layout "layout.liquid" %}
{% block content %}
<head>
    <style>
        #login-signup-message {
            margin-bottom:var(--margin);
            text-align:center;
        }
    </style>
</head>
<body class="body">
<div class="container-login-signup">
    <form class="form-all" action="/auth/signup" method="POST">
            <legend id="login-signup-message">Sign Up Here!</legend>
            <input class="meme-input" id=“login-signup-input” type="text" name="username" placeholder="username" class="form-control" required>            <input class="meme-input" id=“login-signup-input” type="password" name="password" placeholder="enter password" class="form-control" required>
        <input class="meme-login-signup-submit button" type="submit" value="Create Account">
    </form>
</div>
</body>
{% endblock %}