
<!-- we're serving block content in layout.liquid -->
<!-- so we need to inform all our blocks(files) -->
{% layout 'layout.liquid'%}
<!-- here we start our block content -->
{% block content %}
<body class="body">
<div class="info-container">
            {% for meme in memes %}
            <a href="/memes/mine/{{meme.id}}">
                <div class="meme-container">
                    <img class="img" src="{{meme.image}}">
            </a>  
                <p class="topText">{{meme.topText}}</p>
                <p class="bottomText">{{meme.bottomText}}</p>
            </div>
            {% endfor %}
        </div>
    </body>
</div>
{% endblock %}