{% block content %}
<div class="">
    <div class="">
        <div class="">
            <p>{{ comment.note }}</p>
            <div class="">
                <small>author: {{ username }}</small>
                {% if username == username %}
                    <form action="/comments/delete/{{ memes.id }}/{{ comment._id }}?_method=DELETE" method="POST">
                        <input id="meme-input-submit" type="submit" value="X">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}