{% block content %} 
<div class="comment-container">
    {% if username == username %}
        <small class="author">{{ username }} says:</small>
        <form class="delete-comment" action="/comments/delete/{{ memes.id }}/{{ comment._id }}/delete?_method=DELETE" method="POST">
            <input class="delete-comment" type="submit" value="X">
        </form>
        <p class="comment">{{ comment.note }}</p>
        
    {% endif %}
</div>
{% endblock %}