
{% block content %}
<head>
    <style>
         .comments-container {
            width:700px;
            margin:var(--margin);
            padding:var(--padding);
        }
        .comment-container {
            background:white;
            margin:var(--margin);
            padding:calc(var(--padding) * .6);
            border-radius:var(--border-radius);
        }
        .author-deleteButton {
            display:flex;
            justify-content:space-between;
            
        }
        .comment {
            padding-left:calc(var(--padding) * .5);
            margin-top:20px;
            
        }
        #meme-input-submit {
            
        }
        .author {
            
        }
    </style>
</head>
            <div class="comment-container">
                <div class="author-deleteButton">
                    <small class="author">author: {{ username }}</small>
                    {% if username == username %}
                        <form action="/comments/delete/{{ memes.id }}/{{ comment._id }}?_method=DELETE" method="POST">
                            <input id="meme-input-submit" type="submit" value="X">
                        </form>
                    {% endif %}
                </div>
                    <p class="comment">{{ comment.note }}</p>
            </div>
{% endblock %}