{% layout "layout.liquid" %}
{% block content %}
<head>
    <style>
        .welcome-message {
            width:1000px;
            margin:calc(var(--margin)* 2);
            text-align:center;
        }
    </style>
</head>
<body class="body">
        <h1 class="welcome-message">Welcome! Search memes for inspiration or create your own! Please sign in or sign up first if you don't have an account</h1> 
</body>
{% endblock %}