{% layout "layout.liquid" %}
{% block content %}
<body class="body">
    <div class="message-seachInput-container">
        <h1 class="message">Welcome! Search memes for inspiration or create your own!</h1>
    </div>
</body>
{% endblock %}