{% block content %}
<div class="comment-container">
    <div class="card mb-4 shadow">
        <div class="card-body">
            <p>{{ comment.note }}</p>
            <div class="d-flex justify-content-between">
                <small>author: {{ username }}</small>
                {% if username == username %}
                    <form action="/comments/delete/{{ memes.id }}/{{ comment._id }}?_method=DELETE" method="POST">
                        <input id="meme-input-submit" type="submit" value="X">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
