{% layout "layout.liquid" %}
{% block content %}
<head>
    <style></style>
</head>
<body class="body">
    <h1 class="message">Click on your saved memes to edit or comment!</h1>
    <div class="info-container">
        {%for meme in memes %} 
            <a href="/memes/mine/{{meme.id}}"> <div class="meme-container"><img class="img" src="{{meme.image}}"></a> 
                <p class="topText">{{meme.topText}}</p>
                <p class="bottomText">{{meme.bottomText}}</p>
            </div>
         {% endfor %}
    </div>
</body>
    {% endblock %}
