{% layout 'layout.liquid' %}
{% block content %}
  <body class="body">
    <div class="info-container-grid">
      <h1 class="message">
        View all memes here! Click on any meme to comment and you can also edit or delete your own!
      </h1>
      {% for meme in memes %}
        <div class="meme-container-index">
          <a href="/memes/mine/{{meme.id}}" class="link">
            <img class="img" src="{{meme.cloudinary_img}}">
            <p class="topText">{{ meme.topText }}</p>
            <p class="bottomText">{{ meme.bottomText }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </body>
{% endblock %}