{% layout 'layout.liquid' %} 
{% block content %}
<body class="body">
    <div class="create-edit-container">
        <form class="form-all" action="/memes/mine/{{meme.id}}?_method=PUT" method="POST">
            <input type="text" class="meme-input" id="meme-input-topText-edit" name="topText" value="{{meme.topText}}">
            <input type="text" class="meme-input" id="meme-input-bottomText-edit" name="bottomText" value="{{meme.bottomText}}">
            <input type="submit" class="button" id="meme-input-submit-edit" value="save">
        </form>
    </div>
</body>
{% endblock %}