{% layout "layout.liquid" %}
{% block content %}
<head>
    <style>
        .info-container {
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap:var(--grid-gap);
            place-items:center;
            margin:var(--margin);
        }
        .message {
            grid-column:1/-1;
            height:100%;
            padding:var(--padding);
            text-align:center;
            color:white;
        }
        .meme-container {
            position:relative;
            width:400px;
            height:400px;
            margin:calc(var(--margin) * .5) 
        }
        .link {
            display:flex;
            justify-content:center;
            width:100%;
            height:100%;
        }
        .img {
            object-fit:cover;
            width:100%;
            height:100%;
            border-radius:var(--border-radius);
        }
        .topText { 
            position:absolute;
            top:0;
            font-size:40px;
            text-align:center;
            color: white;
            text-shadow: -1px 1px 4px #000,
                    2px 2px 4px #000,
                    2px -2px 2px #000,
                    -1px -1px 2px #000; }
        .bottomText {
            position:absolute;
            bottom:0;
            color: white;
            font-size:30px;
            text-align:center;
            text-shadow: 1px 1px 4px #000,
                        2px 2px 4px #000,
                        2px -2px 2px #000,
                        -1px -1px 2px #000; }
    </style>
</head>
<body class="body">
    <div class="info-container">
        <h1 class="message">Click on a meme to edit, delete or comment!<br/>
            If you don't see any, start creating!
        </h1>
        {%for meme in memes %} 
        <div class="meme-container">
            <a href="/memes/mine/{{meme.id}}" class="link"> 
                <img class="img" src="{{meme.image}}">
                <p class="topText">{{meme.topText}}</p>
                <p class="bottomText">{{meme.bottomText}}</p>
            </a> 
        </div>
        {% endfor %}
    </div>
</body>
    {% endblock %}