{% layout 'layout.liquid' %} 
{% block content %}
<head>
<style>
    @media (max-width:800px) {
        .create-edit-container{
        width:400px;
    }
    .meme-input {
        width:600px;
        font-size:20px;
    }
}
/* @media (max-width:600px) {
    .meme-input {
        width:400px;
        font-size:24px;
    }
    .button {
        font-size:22px;
    }
} */
@media (max-width:425px) {
    .meme-input {
        font-size:20px;
        width:300px;
    }
    .button {
        font-size:20px;
    }
}
</style>
<head>
<body class="body">
    <div class="create-edit-container">
        <form class="form-all" action="/memes/mine/{{meme.id}}?_method=PUT" method="POST">
            <input type="text" class="meme-input" id="meme-input-topText-edit" name="topText" value="{{meme.topText}}">
            <input type="text" class="meme-input" id="meme-input-bottomText-edit" name="bottomText" value="{{meme.bottomText}}">
            <input type="submit" class="button" id="meme-input-submit-edit" value="save">
        </form>
    </div>
</body>
{% endblock %}