{% layout "layout.liquid" %}
{% block content %}
<body class="body">
    <div class="message-seachInput-container">
        <h1 class="message">Welcome! Search memes for inspiration or create your own!</h1> 
        <h1 class="message"> Please sign in or sign up first if you don't have an account</h1>
    </div>
</body>
{% endblock %}