{% layout 'layout.liquid' %}
{% block content %}
<body class="body">
<div class="container-login-signup">
    <form class="meme-login-signup-submit-form" action="/auth/signup" method="POST">
            <legend class="message">Sign Up Here!</legend>
            <label class="form-label">Username: </label>
            <input class="meme-input" id="meme-input-login-signup" type="text" name="username" placeholder="username" class="form-control" required></br>
            <label class="form-label">Password:</label>
            <input class="meme-input" id="meme-input-login-signup" type="password" name="password" placeholder="enter password" class="form-control" required>
        <input class="meme-login-signup-submit" type="submit" value="Create Account" class="btn btn-success">
    </form>
</div>
</body>
{% endblock %}